{%- comment -%}
  Custom Product Info Snippet
  Accepts:
    - product {Object} Product object containing details like title, description, price, options, etc.

  Usage:
    {% render 'custom-product-info' %}
{%- endcomment -%}

<div class="product-info">
  {% if product.title != blank %}
    <h1 class="product-info__title">{{ product.title }}</h1>
  {% endif %}
  {% if product.description != blank %}
    <div class="product-info__description">
      {{ product.description }}
    </div>
  {% endif %}
  {% if product.price != blank %}
    {% render 'custom-product-price', price: product.price, compare_at_price: product.compare_at_price %}
  {% endif %}
  {% if product.options != blank %}
    {% render 'custom-product-variant-picker',
      options: product.options_with_values,
      selected_or_first_available_variant_options: product.selected_or_first_available_variant.options
    %}
  {% endif %}
  <div class="add-to-cart-container">
    {% if product.available %}
      {% render 'custom-product-quantity',
        max_quantity: product.selected_or_first_available_variant.inventory_quantity
      %}
    {% endif %}

    <add-to-cart-button type="button" class="add-to-cart-button">
      <script id="product-variants-json" type="application/json">
        {
          "productInfo": {{ product.variants | json }}
        }
      </script>
      <span add-button-text>Додати в кошик</span>
      <span class="loader"></span>
    </add-to-cart-button>
  </div>
  {% render 'custom-product-specification', specifications: product.metafields.custom.product_characteristics.value %}
</div>
