{%- comment -%}
  Props:
  - text (string) — the button text
  - link (string) — the URL the button leads to
  - bg_color (string) — background color of the button
  - text_color (string) — text color of the button
{%- endcomment -%}

<a
  href="{{ link }}"
  class="btn"
  style="background-color: {{ bg_color }}; color: {{ text_color }};"
>
  {{ text }}
</a>
