<div class="split-section__block split-section__image {% if total_blocks == 1 %}split-section__block--full{% endif %}">
  &nbsp;
</div>
<style>
  .split-section__image {
    background-image: url('{{ block.settings.background_desktop | image_url }}');
    background-size: {{ block.settings.background_size_desktop }};
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    min-height: 300px;
  }

  @media (max-width: 749px) {
    .split-section__image {
        background-image: url('{{ block.settings.background_mobile | image_url }}');
        background-size: {{ block.settings.background_size_mobile }};
    }
  }
</style>
