{% if block.settings.button_text != blank %}
  <a
    href="{{ block.settings.button_link }}"
    class="btn"
    style="background-color: {{ block.settings.button_bg_color }}; color: {{ block.settings.button_text_color }}"
  >
    {{ block.settings.button_text }}
  </a>
{% endif %}
