{%- comment -%}
  Props:
  - title (string) — the title of the text block
  - subtitle (string) — the subtitle of the text block
  - description (string) — the description text
  - cta_text (string) — cta button text
  - cta_link (string) — URL for the cta button
  - cta_bg_color (string) — background color for the cta button
  - cta_text_color (string) — text color for the cta button
  - is_full_width (boolean) — true if this block should take full width
{%- endcomment -%}

<div class="split-content__block split-content__text {% if is_full_width %}split-content__block--full{% endif %}">
  {% if title != blank %}
    <h2>
      {{ title }}
    </h2>
  {% endif %}
  {% if subtitle != blank %}
    <h3>{{ subtitle }}</h3>
  {% endif %}
  {% if description != blank %}
    <p>{{ description }}</p>
  {% endif %}
  {% render 'split-button', link: cta_link, text: cta_text, bg_color: cta_bg_color, text_color: cta_text_color %}
</div>
