<div class="split-section__block split-section__text {% if total_blocks == 1 %}split-section__block--full{% endif %}">
  {% if block.settings.title != blank %}
    <h2>{{ block.settings.title }}</h2>
  {% endif %}
  {% if block.settings.subtitle != blank %}
    <h3>{{ block.settings.subtitle }}</h3>
  {% endif %}
  {% if block.settings.description != blank %}
    <p>{{ block.settings.description }}</p>
  {% endif %}
  {% render 'split-button', block: block %}
</div>
